.animal-show {
    position: relative;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 3px 4px gray;
}

.animal {
    height: 150px;
}

.heart {
    position: absolute;
    bottom: 15%;
    right: 15%;
}